tolearn.txt
1. what is internet
2. how does internet work
3. what is an ipaddress
4. what is a domain name
5. what is a client-server architecturef(what is a web browser and how does it work, what is a server and how does it work)
6. what is API and what are end points
7.how does rest API work.
.vscode/
Golang
.eve